<footer>
    <div role="contentinfo">
    <!-- footer for a subscribe section and a social media section -->
    <div class="footercontainer">
    <h1>STAY CONNECTED</h1>
    <div class="left">
        <p class="subscribe">SUBSCRIBE</p><br><br>
    <label for="first"></label>
    <input type="text" name="first" id="first" placeholder="FIRST NAME">
    <label for="last"></label>
    <input type="text" name="last" id="last" placeholder="LAST NAME"><br>
    <label for="email"></label>
    <input type="text" name="email" id="email" placeholder="EMAIL ADDRESS"><br>
    <button class="subscribe">SUBSCRIBE</button>
    </div>
    <div class="right">
        <p class="subscribe">CONNECT WITH US</p><br><br>
    <a href="https://www.facebook.com/bluelinecookiedesign/">FACEBOOK</a><br><br>
    <a href="mailto:cookieladymandi@gmail.com">EMAIL US</a>
        <br><br><br><br><br>
        <p>© Blue Line Cookies Designs</p>
    </div>
    </div>
</div>
</footer>