<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Blue Line Cookies Design</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css">
    <link  href="/fotorama/fotorama.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/fotorama/fotorama.js"></script>
    <script src="/models/index.js"></script>