<header>
    <div role="banner">
    <img id="logo" src="/assets/images/logo.jpg" alt="logo">
    <div class="container">
        <!-- navigation bar for index page -->
<ul id="nav">
    <li><a href="/">HOME</a></li>
    <li class="dropdown">
        <!-- <a class="cookiesbtn">COOKIES &#x2304; </a> -->
        <a href="order">ORDER</a>
        <!-- <div class="dropdown-content">
            <a href="order">ORDER</a>
            <a href="photos">PHOTOS</a>
        </div>
        -->
    <li><a href="faq">FAQ</a></li>
    <li><a href="contact">CONTACT</a></li>
</ul>
    </div>
</div>
</header>