<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ - Blue Line Cookies Designs</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="fotorama/fotorama.js"></script>
    <script src="index.js"></script>
</head>

<body>
<!-- header/nav bar for faq page -->
<header><div role="banner">
    <img id="logo" src="logo.jpg" alt="logo">
    <div class="container">
        <ul id="nav">
            <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/index.html">HOME</a></li>
            <li class="dropdown">
                <a class="cookiesbtn">COOKIES &#x2304;</a>
                <div class="dropdown-content">
                    <a href="http://webpages.uncc.edu/vnguye34/WEBSITE/order.html">ORDER</a>
                    <a href="http://webpages.uncc.edu/vnguye34/WEBSITE/photos.html">PHOTOS</a>
                </div>
            <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/faq.html">FAQ</a></li>
            <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/contact.html">CONTACT</a></li>
        </ul>
    </div>
</div>
</header>

<main>
    <!-- content for faq and answers -->
    <h1><br>FAQ | Frequently Asked Questions<br></h1>

    <div id="faqcontainer">
    <div id="faq"></div>
    <h3><b>STILL HAVE QUESTIONS? CLICK
        <i><u><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/contact.html">HERE</a></u></i> TO CONTACT US.</b></h3><br><br>
    </div>
</main>

<!-- footer for faq page -->
<footer><div role="contentinfo">
    <div class="footercontainer">
        <h1>STAY CONNECTED</h1>
        <div class="left">
            <p class="subscribe">SUBSCRIBE</p><br><br>
            <label for="first"></label>
            <input type="text" name="first" id="first" placeholder="FIRST NAME">
            <label for="last"></label>
            <input type="text" name="last" id="last" placeholder="LAST NAME"><br>
            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="EMAIL ADDRESS"><br>
            <button class="subscribe">SUBSCRIBE</button>
        </div>
        <div class="right">
            <p class="subscribe">CONNECT WITH US</p><br><br>
            <a href="https://www.facebook.com/bluelinecookiedesign/">FACEBOOK</a><br><br>
            <a href="mailto:cookieladymandi@gmail.com">EMAIL US</a>
            <br><br><br><br><br>
            <p>© Blue Line Cookies Designs</p>
        </div>
    </div>
</div>
</footer>

</body>
</html>