<%- include('partials/header') -%>
<body>
        <%- include('partials/navigation') -%> 
        <main>
                <!-- content when contact form has been submitted -->
                <div class="followup">
                    <h1><br>THANK YOU!</h1>
                    <p>Please give us within 24 hours to respond back to your message.</p>
                    <p>To get in touch with us sooner, you can always call at 704-111-2332. <br><br><br><br><br><br><br></p>
                </div>
        </main>
        <%- include('partials/footer') -%>
</body>
</html>