<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Line Cookies Designs</title>
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="index.js"></script>
</head>

<body>
<header><div role="banner">
    <!-- header for the follow up page -->
    <img id="logo" src="logo.jpg" alt="logo">
    <div class="container">
        <ul id="nav">
            <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/index.html">HOME</a></li>
            <li class="dropdown">
                <a class="cookiesbtn">COOKIES &#x2304;</a>
                <div class="dropdown-content">
                    <a href="http://webpages.uncc.edu/vnguye34/WEBSITE/order.html">ORDER</a>
                    <a href="http://webpages.uncc.edu/vnguye34/WEBSITE/photos.html">PHOTOS</a>
                </div>
            <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/faq.html">FAQ</a></li>
            <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/contact.html">CONTACT</a></li>
        </ul>
    </div>
</div>
</header>

<main>
    <!-- content when order form has been submitted -->
    <div class="followup">
    <h1><br>THANK YOU FOR YOUR ORDER AT BLUE LINE COOKIES DESIGNS!</h1>
        <p><br>We can't wait to bake and decorate your cookies!</p>
    <p>Please give us within 24 hours to respond back to your order via email. If everything looks good on the order form, we can then discuss
    details (pricing, deadlines, pickup, etc.) and complete your order.</p>
    <p>To get in touch with us sooner, you can always call at 704-111-2332. <br><br><br><br><br><br><br></p>
    </div>
</main>

<!-- footer for follow up page -->
<footer><div role="contentinfo">
    <div class="footercontainer">
        <h1>STAY CONNECTED</h1>
        <div class="left">
            <p class="subscribe">SUBSCRIBE</p><br><br>
            <label for="first"></label>
            <input type="text" name="first" id="first" placeholder="FIRST NAME">
            <label for="last"></label>
            <input type="text" name="last" id="last" placeholder="LAST NAME"><br>
            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="EMAIL ADDRESS"><br>
            <button class="subscribe">SUBSCRIBE</button>
        </div>
        <div class="right">
            <p class="subscribe">CONNECT WITH US</p><br><br>
            <a href="https://www.facebook.com/bluelinecookiedesign/">FACEBOOK</a><br><br>
            <a href="mailto:cookieladymandi@gmail.com">EMAIL US</a>
            <br><br>
            <a href="https://validator.w3.org/check?uri=referer">Validate HTML</a>
            <br>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
        </div>
    </div>
</div>
</footer>

</body>
</html>