<%- include('partials/header') -%>
<body>
        <%- include('partials/navigation') -%> 
        <main>
                <!-- content when order form has been submitted -->
                <div class="followup">
                <h1><br>THANK YOU FOR YOUR ORDER AT BLUE LINE COOKIES DESIGNS!</h1>
                    <p><br>We can't wait to bake and decorate your cookies!</p>
                <p>Please give us within 24 hours to respond back to your order via email. If everything looks good on the order form, we can then discuss
                details (pricing, deadlines, pickup, etc.) and complete your order.</p>
                <p>To get in touch with us sooner, you can always call at 704-111-2332. <br><br><br><br><br><br><br></p>
                </div>
        </main>
        <%- include('partials/footer') -%>
</body>
</html>