<%- include('partials/header') -%>
<body>
    <%- include('partials/navigation') -%> 
    <main>
            <!-- index header photo-->
                <div class="gallery">
                    <!-- <img src="/assets/images/indeximg4.jpg" alt="Baking Image">
                     <img src="/assets/images/indeximg3.jpg" alt="Baking Image 2">
                    <img src="/assets/images/indeximg2.jpg" alt="Baking Image 3">
                    <img src="/assets/images/indeximg.jpg" alt="Baking Image 4">
                    <img src="/assets/images/indeximg1.jpg" alt="Baking Image 5"> --->
                </div>
                <!-- short description about the company -->
                <h1><br>OUR CUSTOM SUGAR COOKIES</h1>
                <p class="description">We’re here to help make the special events, milestones and memories in your life sweeter with our delicious sugar cookies.</p>
                <p class="description">We specialize in decorative, made-to-order sugar cookies made just for you.</p>
                <p class="description">Our cookies are 100% customizable so anything you can think of, we can make. </p>
                <!-- link to order cookies -->
                <h1><br><a href="/order">ORDER YOURS TODAY</a></h1>
                <!-- more images -->
                <div class="photoscontain">
                    <div class="photos"><img id="index" src="/assets/images/index.jpg" alt="Cookie Image 1"></div>
                    <div class="photos"><img id="index2" src="/assets/images/index2.jpg" alt="Cookie Image 2" ></div>
                    <div class="photos"><img id="index3" src="/assets/images/index3.jpg" alt="Cookie Image 3" ></div>
                </div>
    </main>
    <%- include('partials/footer') -%>
</body>
</html>