<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Line Cookies Designs</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link  href="fotorama/fotorama.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="fotorama/fotorama.js"></script>
    <script src="index.js"></script>


</head>

<body>
    <header><div role="banner">
        <img id="logo" src="logo.jpg" alt="logo">
        <div class="container">
            <!-- navigation bar for index page -->
    <ul id="nav">
        <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/index.html">HOME</a></li>
        <li class="dropdown">
            <a class="cookiesbtn">COOKIES &#x2304;</a>
            <div class="dropdown-content">
                <a href="http://webpages.uncc.edu/vnguye34/WEBSITE/order.html">ORDER</a>
                <a href="http://webpages.uncc.edu/vnguye34/WEBSITE/photos.html">PHOTOS</a>
            </div>
        <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/faq.html">FAQ</a></li>
        <li><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/contact.html">CONTACT</a></li>
    </ul>
        </div>
    </div>
    </header>

    <main>
        <!-- index header photo-->
        <div class="gallery">
            <img src="indeximg4.jpg" alt="Baking Image">
            <img src="indeximg3.jpg" alt="Baking Image 2">
            <img src="indeximg2.jpg" alt="Baking Image 3">
            <img src="indeximg.jpg" alt="Baking Image 4">
            <img src="indeximg1.jpg" alt="Baking Image 5">
        </div>
        <!-- short description about the company -->
        <h1><br>OUR CUSTOM SUGAR COOKIES</h1>
        <p class="description">We’re here to help make the special events, milestones and memories in your life sweeter with our delicious sugar cookies.</p>
        <p class="description">We specialize in decorative, made-to-order sugar cookies made just for you.</p>
        <p class="description">Our cookies are 100% customizable so anything you can think of, we can make. </p>
        <!-- link to order cookies -->
        <h1><br><a href="http://webpages.uncc.edu/vnguye34/WEBSITE/order.html">ORDER YOURS TODAY</a></h1>
        <!-- more images -->
        <div class="photoscontain">
            <div class="photos"><img id="index" src="index.jpg" alt="Cookie Image 1"></div>
            <div class="photos"><img id="index2" src="index2.jpg" alt="Cookie Image 2" ></div>
            <div class="photos"><img id="index3" src="index3.jpg" alt="Cookie Image 3" ></div>
        </div>
    </main>

    <footer><div role="contentinfo">
        <!-- footer for a subscribe section and a social media section -->
        <div class="footercontainer">
        <h1>STAY CONNECTED</h1>
        <div class="left">
            <p class="subscribe">SUBSCRIBE</p><br><br>
        <label for="first"></label>
        <input type="text" name="first" id="first" placeholder="FIRST NAME">
        <label for="last"></label>
        <input type="text" name="last" id="last" placeholder="LAST NAME"><br>
        <label for="email"></label>
        <input type="text" name="email" id="email" placeholder="EMAIL ADDRESS"><br>
        <button class="subscribe">SUBSCRIBE</button>
        </div>
        <div class="right">
            <p class="subscribe">CONNECT WITH US</p><br><br>
        <a href="https://www.facebook.com/bluelinecookiedesign/">FACEBOOK</a><br><br>
        <a href="mailto:cookieladymandi@gmail.com">EMAIL US</a>
            <br><br><br><br><br>
            <p>© Blue Line Cookies Designs</p>
        </div>
        </div>
    </div>
    </footer>
</body>

</html>