<%- include('partials/header') -%>
<body>
    <%- include('partials/navigation') -%> 
    <main>
            <!-- all the photos  -->
            <h1><br>CHECK OUT SOME OF OUR CREATIONS BELOW!</h1>
            <div class="phpagecontain">
                <!-- section for animal cookies -->
                <div id="animals"></div>
                <!-- section for famous character cookies -->
                <div id="characters"></div>
                <!-- section for event cookies -->
                <div id="events"></div>
                <!-- section for holiday cookies -->
                <div id="holidays"></div>
            </div>
    </main>
    <%- include('partials/footer') -%>
</body>
</html>